body{
    background-image: url(..image/back_index.jpg);
    background-repeat: repeat;
    background-size: cover;
}


#isidata{
    border-radius: 5px;
    background-color:rgb(238, 237, 237);
    padding: 20px;

}

#isidata input {
    border: 0.5px solid black;
    height: 30px;
    border-radius: 5px;
    width: 100%;

}

h4{
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}